body {
    margin:0;
    padding:0;
}

#navbar{
    text-align: right;
    padding: 20px 10px;
    background-color: white;

}

#form{
    margin: auto;
    position: relative;
    padding: 30px 25px;
    width: 300px;
  
}

#inputs{
    margin: 13px 0px;
    width: 90%;
    padding: 7px;
    outline: none;
    border: 1px solid gray;
    border-radius: 3px;

}

#images{

}

.class{

}